@model MvcStock.Models.Entity.TblProduct
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class=" form-group">
    <div>
        <label>Product Name</label>
        <input type="text" class="form-control" name="ProductName" required="" maxlength="30" />
    </div>
    <div>
        <label>Brand</label>
        <input type="text" class="form-control" name="BRAND" placeholder="Please Type to Brand.." required="" />
    </div>

    <div>
        <label>Choose to Category</label>
        
        @Html.DropDownListFor(m =>m.TblCategory.categoryId, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control"})
    </div>

    <div>
        <label> Price</label>
        <input type="text" class="form-control" name="Price" />
    </div>
    <div>
        <label> Stock </label>
        <input type="text" class="form-control" name="Stock" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add to Product </button>
    </div>
</form>


